
  <button>Show</button>

<body class=body>
<h3>Starwars CA - Species </h3>
<div class="grid grid-pad">

  <button *ngFor="let spec of species ; index as i" class="col-1-4" class="bttn btn-space"
     routerLink="/category/species/{{spec.url.split('/')[((spec.url.split('/').length)-2)]}}" (click)="getSpeciesDetail(spec.url.split('/')[((spec.url.split('/').length)-2)])">
      {{spec.name}}
  </button>
<br>
    <button (click)="previousPage()" class="btn-space"> Previous Page </button>
    <button (click)="nextPage()"> Next Page </button>

    <br>

  <a [(ngModel)]="details" class="col-1-4">

    <h4>{{details.name}}</h4> <br>
    Classification: {{details.classification}}<br>
    Designation: {{details.designation}}<br>
    Average Height: {{details.average_height}}<br>
    Skin Colors: {{details.skin_colors}}<br>
    Hair Colors: {{details.hair_colors}}<br>
    Eye Colors: {{details.eye_colors}}<br>
    Average Lifespan: {{details.average_lifespan}}<br>
    Homeworld: {{details.homeworld}}<br>
    Language: {{details.language}}<br>
    People: {{details.people}}<br>
    Films: {{details.films}}<br>
    Created: {{details.created}}<br>
    Edited: {{details.edited}}<br>

  </a>
</div>
