
  <button>Show</button>

<body class=body>
<h3>Starwars CA - Planets </h3>
<div class="grid grid-pad">

  <button *ngFor="let planet of planets ; index as i" class="col-1-4" class="bttn btn-space"
     routerLink="/category/planets/{{planet.url.split('/')[((planet.url.split('/').length)-2)]}}" (click)="getPlanetDetail(planet.url.split('/')[((planet.url.split('/').length)-2)])">
      {{planet.name}}
  </button>
<br>
    <button (click)="previousPage()" class="btn-space"> Previous Page </button>
    <button (click)="nextPage()"> Next Page </button>

    <br>

  <a [(ngModel)]="details" class="col-1-4">

    <h4>{{details.name}}</h4><br>
    Rotation Period: {{details.rotation_period}}<br>
    Orbital Period: {{details.orbital_period}}<br>
    Diameter: {{details.diameter}}<br>
    Climate: {{details.climate}}<br>
    Gravity: {{details.gravity}}<br>
    Terrain: {{details.terrain}}<br>
    Surface Water: {{details.surface_water}}<br>
    Population: {{details.population}}<br>
    Residents: {{details.residents}}<br>
    Films: {{details.films}}<br>
    Created: {{details.created}}<br>
    Edited: {{details.edited}}<br>

  </a>
</div>
