
  <button>Show</button>

<body class=body>
<h3>Starwars CA - Films </h3>
<div class="grid grid-pad">

  <button *ngFor="let film of films ; index as i" class="col-1-4" class="bttn btn-space"
     routerLink="/category/films/{{film.url.split('/')[((film.url.split('/').length)-2)]}}" (click)="getFilmDetail(film.url.split('/')[((film.url.split('/').length)-2)])">
    {{film.title}}
  </button>
<br>
    <button (click)="previousPage()" class="btn-space"> Previous Page </button>
    <button (click)="nextPage()"> Next Page </button>

    <br>

  <a [(ngModel)]="details" class="col-1-4">

    <h4>{{details.title}}</h4><br>
    Episode ID: {{details.episode_id}}<br>
    Opening Crawl: {{details.opening_crawl}}<br>
    Director: {{details.director}}<br>
    Producer: {{details.producer}}<br>
    Release Date: {{details.release_date}}<br>
    Characters: {{details.characters}}<br>
    Planets: {{details.planets}}<br>
    Starships: {{details.starships}}<br>
    Vehicles: {{details.vehicles}}<br>
    Species: {{details.species}}<br>
    Created: {{details.created}}<br>
    Edited: {{details.edited}}<br>
  </a>
</div>
