
  <button>Show</button>

<body class=body>
<h3>Starwars CA - Starships </h3>
<div class="grid grid-pad">

  <button *ngFor="let planet of starships ; index as i" class="col-1-4" class="bttn btn-space"
     routerLink="/category/starships/{{planet.url.split('/')[((planet.url.split('/').length)-2)]}}" (click)="getStarshipDetail(planet.url.split('/')[((planet.url.split('/').length)-2)])">
      {{planet.name}}
  </button>
<br>
    <button (click)="previousPage()" class="btn-space"> Previous Page </button>
    <button (click)="nextPage()"> Next Page </button>

    <br>

  <a [(ngModel)]="details" class="col-1-4">

    <h4>{{details.name}}</h4><br>
    Model: {{details.model}}<br>
    Manufacturer: {{details.manufacturer}}<br>
    Cost in Credits: {{details.cost_in_credits}}<br>
    Length: {{details.length}}<br>
    Max Atmosphering Speed: {{details.max_atmosphering_speed}}<br>
    Crew: {{details.crew}}<br>
    Passengers: {{details.passengers}}<br>
    Cargo Capacity: {{details.cargo_capacity}}<br>
    Consumables: {{details.consumables}}<br>
    Hyperdrive Rating: {{details.hyperdrive_rating}}<br>
    MGLT: {{details.MGLT}}<br>
    Starship Class: {{details.starship_class}}<br>
    Pilots: {{details.pilots}}<br>
    Films: {{details.films}}<br>
    Created: {{details.created}}<br>
    Edited: {{details.edited}}<br>

  </a>
</div>
